fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
psycopg2-binary  
passlib[bcrypt]
pytest
python-multipart
fpdf
pillow
matplotlib
torch
torchvision
boto3
joblib  
pandas
openai
alembic
fastapi-utils
typing-inspect
passlib[bcrypt]
python-jose
pydantic[email]
redis
scikit-learn
